<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- offizieller NuGet -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />

    <!-- Jellyfin PLUGIN Feed (für Plugin-Abhängigkeiten) -->
    <add key="jellyfin-plugin" value="https://repo.jellyfin.org/releases/plugin/v1/index.json" />

    <!-- Jellyfin SERVER Feed (hier liegt Jellyfin.Server) -->
    <add key="jellyfin-server" value="https://repo.jellyfin.org/releases/server/v1/index.json" />
  </packageSources>

  <config>
    <add key="httpRetryCount" value="6" />
    <add key="httpRetryDelay" value="5" />
  </config>
</configuration>
