<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Jellyfin Plugin Feed -->
    <add key="jellyfin" value="https://repo.jellyfin.org/releases/plugin/nuget/" />
    <!-- NuGet.org bleibt für Standardpakete -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
